.about-container {
  display: flex;
  width: 600px;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 50%;
  padding: 30px;
  transform: translateX(-50%);
}
.para-title {
  font-size: 50px;
  color: #4b5b66;
  
}
.about-paragraph {
  font-size: 20px;
  color: #4b5b66;
  line-height: 35px;
}