.nav-wrapper{
  display: flex;
  width: 100%;
  z-index: 999;
  justify-content: space-evenly;
}
.nav-item {
  width: fit-content;
  height: 60px;
  display: flex;
  flex-shrink: 1;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  font-size: var(--nav-item-fontSize);
  transition: transform 0.25s ease, font-weight 0.2s;
  color: #7c95a0;
}
.nav-item:hover {
  font-weight: 700;
  transform: scale(1.08);
  cursor: pointer;
}
.nav-active {
  color: #4b5b66;
}