@import url('https://fonts.googleapis.com/css?family=Kalam:300,400');
.pixels-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  z-index: 999;
  position: absolute;
  top: 90px;
  left: 0;
  justify-content: flex-start;
}

.pixels-main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.pixel-chart {
  width: 500px;
  height: 500px;
}

/* chart font size override */

.ct-label {
  font-size: var(--pixel-grid-fontSize);
}

.edit-pixel-wrap {
  align-self: center;
}

.pixels-grid {
  width: max-content;
  display: grid;
  margin-left: var(--pixel-grid-marginLeft);
  grid-template-columns: repeat(13, var(--pixel-size));
  align-self: flex-start;
  justify-self: flex-start;
  color: #363636;
}

.month {
  display: grid;
  width: 100%;
  grid-auto-rows: var( --pixel-size);
  align-items: center;
  justify-content: center;
}

.month-name {
  font-size: var(--pixel-grid-fontSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  width: var(--day-pixel-size);
  height: var(--day-pixel-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.month>.day:last-child {
  border-bottom: 3px solid black;
}

.day-inline-border {
  width: var(--day-inline-border-size);
  height: var(--day-inline-border-size);
}

.day-inline-border:hover {
  border: 2px solid #363636;
  cursor: pointer;
}

.day-number {
  font-size: var(--day-number-fontSize);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.days {
  display: grid;
  grid-auto-rows: var(--pixel-size);
}

.add-icon {
  display: flex;
  margin: 5px 0;
  align-items: center;
  justify-content: center;
}

.add-icon i {
  font-size: 25px;
  color: var(--green);
}

.add-icon i:hover {
  cursor: pointer;
  color: var(--green-hovered);
}

.submit-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.new-emotion-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-emotion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mood-remove {
  margin-left: 12px;
  font-size: 22px;
  color: #cc2828;
}

.mood-remove:hover {
  color: #991e1e;
  cursor: pointer;
}

.new-emotion select {
  width: 100%;
  font-size: var(--new-emotion-fontSize);
  border: 2px solid var(--lightBlue);
  border-radius: 8px;
  color: var(--blue);
  appearance: none;
  text-align: center;
  background: url(https://png.icons8.com/ios/150/3584fc/chevron-down-filled.png) 96% / 7% no-repeat white;
  padding-right: 32px;
  padding-left: 10px;
  transition: border-color 0.1s linear;
  height: 40px;
}

select:hover {
  cursor: pointer;
  border-color: var(--slightDarkBlue);
}

.journal {
  display: block;
  resize: none;
  font-size: var(--journal-fontSize);
  font-family: 'Kalam', cursive;
  border: 2px solid var(--lightBlue);
  border-radius: 8px;
  padding: 5px;
  color: var(--blue);
  transition: border-color 0.2s linear;
  width: 400px;
}

.journal:focus {
  border-color: var(--slightDarkBlue);
}

.new-pixel-wrap {
  width: 400px;
  /* width: fit-content; */
}

.new-pixel-wrap .submit-button {
  margin-top: 10px !important;
  width: 120px;
  padding: 8px 4px;
}

.emotions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emotions .label {
  align-self: center
}

.new-pixel-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--date-label-fontSize);
  position: relative;
}

.new-pixel-date input {
  margin-left: 10px;
  font-size: var(--date-input-fontSize);
  border: none;
  background: none;
}

.emotion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: var(--emotion-fontSize);
  margin: 2.5px 0;
  border: 3px solid var(--lightBlue);
  border-radius: 30px;
  padding: 5px 0;
}

.saved-journal {
  font-size: var(--saved-journal-fontSize);
  /* background: var(--nearWhiteBlue); */
  background: #ffffff;
  padding: 20px;
  border: 3px solid var(--lightBlue);
  border-radius: 25px;
  white-space: pre-wrap;
  font-family: 'Kalam', cursive;
  font-weight: 300;
  color: #6b6b6b;
  width: 400px;
  text-overflow: clip;
  hyphens: auto;
}

.journal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.save-pixel-wrap {
  margin-top: 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.save-pixel {
  font-size: var(--save-icon-fontSize);
  color: var(--green);
}

.save-pixel:hover {
  cursor: pointer;
  color: var(--green-hovered);
}

.cancel-save-pixel {
  font-size: var(--save-icon-fontSize);
  color: #cc2828;
}

.cancel-save-pixel:hover {
  color: #991e1e;
  cursor: pointer;
}

.pixel-settings-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
}

.pixel-edit {
  margin-left: 12px;
  font-size: 22px;
  color: #E6E62E;
}

.pixel-edit:hover {
  color: #D9D92B;
  cursor: pointer;
}

.pixel-remove {
  margin-left: 12px;
  font-size: 22px;
  color: #cc2828;
}

.pixel-remove:hover {
  color: #991e1e;
  cursor: pointer;
}

.remove-counter {
  position: absolute;
  right: -30px;
  font-size: 45px;
  font-weight: bold;
}