.profile-wrap {
  display: flex;
  width: auto;
  height: auto;
}

.profile-wrap form {
  display: flex;
  flex-direction: column;
}

.profile-date {
  float: right;
}

.settings-wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 50px;
}

.app-settings-wrap {
  display: flex;
  flex-direction: column;
}

.moods-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #364d6b 1px solid;
}

.slider-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mood-label {
  font-size: 32px;
  color: #364d6b;
}

.moods {
  display: flex;
  flex-direction: column;
}

.mood {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mood-form {
  margin-top: 20px;
}

.mood .mood-color-input {
  margin-left: auto;
  width: 30px;
  height: 30px;
}

.mood-color-input:hover {
  cursor: pointer;
}

.mood .mood-remove {
  margin-left: 12px;
  font-size: 22px;
  color: #cc2828;
}

.mood .mood-remove:hover {
  color: #991e1e;
  cursor: pointer;
}

.mood-edit {
  margin-left: 12px;
  font-size: 22px;
  color: #E6E62E;
}
.save-mood {
  margin-left: 12px;
  font-size: 22px;
  color: var(--green);
}
.save-mood:hover {
  cursor: pointer;
  color: var(--green-hovered);
}

.cancel-save-mood {
  margin-left: 12px;
  font-size: 22px;
  color: #cc2828;
}
.cancel-save-mood:hover {
  color: #991e1e;
  cursor: pointer;
}

.mood-edit:hover {
  color: #D9D92B;
  cursor: pointer;
}

.mood-add-button {
  padding: 0 4px;
  margin-left: 30px;
  background-color: #73E673;
  font-size: 25px;
  border: 2px solid #66CC66;
  border-radius: 30px;
  transition: font-weight 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.mood-add-button:hover {
  font-weight: 700;
  cursor: pointer;
  transform: scale(1.02);
}
.mood-name-input {
  width: 200px !important;
  justify-self: flex-start !important;
  align-self: flex-start !important;
  margin: 0 10px 0 0 !important;
}
